.coolcalendar {
  min-height: 310px;
  overflow-y: auto;
  position: relative;
  font-family: HiraginoSansGB-W3;
  font-size: 14px;
  line-height: 21px;
}
.coolcalendar .calendar-arrow {
  display: inline-block;
  width: 14px;
  height: 14px;
}
.coolcalendar .flex-row {
  /* Firefox */
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  /* Safari, Chrome, and Opera */
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  /* W3C */
  display: box;
  box-pack: center;
  box-align: center;
  width: 100%;
  border-bottom: 1px #D7DDEA solid;
}
.coolcalendar .flex-row > div {
  width: 100%;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  word-break: break-all;
  text-align: center;
}
.coolcalendar .flex-column {
  width: 100%;
  position: absolute;
  top: 60px;
  bottom: 0;
}
.coolcalendar .calendar-arrow-left {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: no-repeat center url('/app/img/calendar_left_arrow.png');
}
.coolcalendar .calendar-arrow-right {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: no-repeat center url('/app/img/calendar_right_arrow.png');
}
.coolcalendar .header {
  background: #1387C0;
  color: #FFFFFF;
  border-bottom: none;
  height: 30px;
}
.coolcalendar .weekDays {
  background: #1387C0;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.58);
  line-height: 18px;
  height: 30px;
}
.coolcalendar .week {
  min-height: 50px;
  font-family: HelveticaNeue;
  font-size: 14px;
  color: #5B657F;
}
.coolcalendar .week .in-other-month {
  color: #8C95A9;
}
.coolcalendar .week .weekday {
  /* Firefox */
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  /* Safari, Chrome, and Opera */
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  /* W3C */
  display: box;
  box-pack: center;
  box-align: center;
}
.coolcalendar .week .circle {
  height: 30px;
  width: 30px;
  padding: 2px;
  border: 3px transparent solid;
  border-radius: 100px;
}
.coolcalendar .week .circle:hover {
  border: 3px #1387C0 solid;
}
.coolcalendar .week .today .circle {
  border: 3px #AEE4FF solid;
}
.coolcalendar .week .today .circle:hover {
  border: 3px #1387C0 solid;
}
