*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*~

# YARD artifacts
.yardoc
_yardoc
doc/
*pyc
Server/Contacts/migrations/*
# ignore user file path
media
# node packages
node_modules
.tmp

#bower components
webapp/bower_components

.idea
app.settings
IOS/ERPLite/Pods
dist