<div class="content">
    <div class="titlebar">
        <div class="container">
            <div class="row">
                <div class="col-xs-8">
                    	<h2>
				<a href="{{backUrl}}">
				<span class="glyphicon glyphicon-chevron-left"></span>
				</a>
				<span class="glyphicon glyphicon-user"></span>
				<span>{{title}}</span>
				</h2>

                </div>
                <div class="col-xs-4">
                    	<h2><a href="#/contact/new" id="add" class="pull-right"><span class="glyphicon glyphicon-plus"></span></a></h2>

                </div>
            </div>
        </div>
    </div>
    
    <div class="toolbar">
	    <div class="container">
	        <div class="row">
	            <div class="col-xs-6">
	                	<div class="input-group">
							  <span class="input-group-addon">关键词</span>
							  <input type="text" class="form-control" ng-model="query" placeholder="查询">
							</div>
	            </div>
	            <div class="col-xs-3">
	                	<button type="button" class="btn btn-primary">高级查询&nbsp;<span class="caret"></span></button>
	            </div>
	            <div class="col-xs-3">
	                	<a id="export" class="icon-btn pull-right"><span class="glyphicon glyphicon-cloud-download"></span></a>
	            </div>
	        </div>
	    </div>
    </div>
    
   
    <div class="container">
    <div class="list-group">
    
    <div ng-repeat="item in items | filter:contactMatch(query)" class="col-xs-12 col-sm-12 col-md-6 repeated-item">
		  <a href="#/contact/{{item.id}}" class="list-group-item row">
		    <img erp-img-loading class="col-xs-1 col-sm-1 col-md-1 avator-small" ng-src="{{item.avator}}" />
		        <label class="col-xs-2 col-sm-2 col-md-2">{{item.name}}</label>
		        <label class="col-xs-6 col-sm-6 col-md-6">{{item.description}}</label>
		        <label class="col-xs-3 col-sm-3 col-md-3 updatetime-small">{{item.modifiedDate | date:'medium'}}</label>
		  </a>
		  </div>
		  
		</div>
    </div>    
    <!-- side pager -->
  <div class="sidepager">
  <a class="icon-btn">
	<span class="glyphicon glyphicon-chevron-up"></span>
	</a>
	<label>{{currentPage}}</label>
	<a class="icon-btn">
	<span class="glyphicon glyphicon-chevron-down"></span>
	</a>
  </div>
    
</div>
<script>
    $('#add').tooltip({
        placement: "left",
        html: true,
        title: "<h3>新增</h3>",
        container: "body"
    });
    $('#export').tooltip({
        placement: "left",
        html: true,
        title: "<h3>导出</h3>",
        container: "body"
    });
</script>