<div class="content contact-detail">
  <div class="titlebar">
    <div class="container">
      <div class="row">
        <div class="col-xs-8">
          <h2>
            <a href="{{backUrl}}">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <span class="glyphicon glyphicon-user"></span>
            <input ng-model="title" placeholder="请输入联系人名称"/>
          </h2>
        </div>
        <div class="col-xs-4">
          <h2><a ng-click="save()" popover-placement="left" popover="保存" popover-trigger="mouseenter" title="保存" class="pull-right"><span
            class="glyphicon glyphicon-floppy-save"></span></a></h2>
        </div>
      </div>
    </div>
  </div>


  <div class="toolbar" ng-show="showToolbar">
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <a ng-click="previousId()" class="icon-btn" title="上一条记录"><span class="glyphicon glyphicon-arrow-left"></span></a>
          <a ng-click="nextId()" class="icon-btn"><span class="glyphicon glyphicon-arrow-right"></span></a>
        </div>
        <div class="col-xs-6">
          <a popover-placement="left" popover="打印" popover-trigger="mouseenter" class="icon-btn pull-right" title="打印"><span class="glyphicon glyphicon-print"></span></a>
        </div>
      </div>
    </div>
  </div>

  <!-- basic info -->
  <div class="container">
    <div class="panel panel-info">
      <div class="panel-heading">
        个人信息
      </div>
      <div class="panel-body">
        <div style="width:100%;text-align: center;">
        <div class="avatar" ng-click="onAvatarClick()" ng-style="{'background-image':'url('+(contact.avatar|sign7nUrl)+')'}"></div>
        </div>
        <form class="form-horizontal" role="form">
          <div class="form-group col-xs-12 col-md-6">
            <label for="surname" class="col-sm-2 control-label">名字</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="surname" placeholder="请输入名字"
                     ng-model="contactData.surname">
            </div>
          </div>
          <div class="form-group col-xs-12 col-md-6">
            <label for="givenname" class="col-sm-2 control-label">姓氏</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="givenname" placeholder="请输入姓氏"
                     ng-model="contactData.givenname">
            </div>
          </div>
          <div class="form-group col-xs-12 col-md-6">
            <label for="company" class="col-sm-2 control-label">公司</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="company" placeholder="请输入公司"
                     ng-model="contactData.company">
            </div>
          </div>
          <div class="form-group col-xs-12 col-md-6">
            <label for="department" class="col-sm-2 control-label">部门</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="department" placeholder="请输入部门"
                     ng-model="contactData.department">
            </div>
          </div>
          <div class="form-group col-xs-12 col-md-6">
            <label for="title" class="col-sm-2 control-label">职位</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="title" placeholder="请输入职位"
                     ng-model="contactData.title">
            </div>
          </div>
          <div class="form-group col-xs-12 col-md-6">
            <label for="phone" class="col-sm-2 control-label">固定电话</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="phone" placeholder="请输入固定电话"
                     ng-model="contactData.phone">
            </div>
          </div>
          <div class="form-group col-xs-12 col-md-6">
            <label for="mobile" class="col-sm-2 control-label">手机</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="mobile" placeholder="请输入手机号码"
                     ng-model="contactData.mobile">
            </div>
          </div>
          <div class="form-group col-xs-12 col-md-6">
            <label for="fax" class="col-sm-2 control-label">传真</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="fax" placeholder="请输入传真"
                     ng-model="contactData.fax">
            </div>
          </div>
          <div class="form-group col-xs-12 col-md-6">
            <label for="origin" class="col-sm-2 control-label">籍贯</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="origin" placeholder="请输入籍贯"
                     ng-model="contactData.origin">
            </div>
          </div>
          <div class="form-group col-xs-12 col-md-6">
            <label for="email" class="col-sm-2 control-label">邮箱</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="email" placeholder="请输入邮箱地址"
                     ng-model="contactData.email">
            </div>
          </div>
          <div class="form-group col-xs-12 col-md-6">
            <label for="address" class="col-sm-2 control-label">地址</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="address" placeholder="请输入地址"
                     ng-model="contactData.address">
            </div>
          </div>
          <div class="form-group col-xs-12 col-md-6">
            <label for="birthday" class="col-sm-2 control-label">生日</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="birthday" placeholder="请输入生日"
                     ng-model="contactData.birthday">
            </div>
          </div>
          <div class="form-group col-xs-12 col-md-6">
            <label for="region" class="col-sm-2 control-label">地区</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="region" placeholder="请输入地区"
                     ng-model="contactData.region">
            </div>
          </div>
          <div class="form-group col-xs-12 col-md-6">
            <label for="website" class="col-sm-2 control-label">网站</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="website" placeholder="请输入网站"
                     ng-model="contactData.website">
            </div>
          </div>
          <div class="form-group col-xs-12 col-md-6">
            <label for="qq" class="col-sm-2 control-label">QQ</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="qq" placeholder="请输入QQ"
                     ng-model="contactData.qq">
            </div>
          </div>
          <div class="form-group col-xs-12 col-md-6">
            <label for="weibo" class="col-sm-2 control-label">微博</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="weibo" placeholder="请输入微博"
                     ng-model="contactData.weibo">
            </div>
          </div>
          <div class="form-group col-xs-12 col-md-6">
            <label for="im" class="col-sm-2 control-label">IM</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="im" placeholder="请输入IM链接"
                     ng-model="contactData.im">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- references -->
  <div class="container">
    <div class="panel panel-info">
      <div class="panel-heading">
        链接<a ng-show="showRefresh" class="icon-btn pull-right" ng-click="refreshLinks()"><span
        class="glyphicon glyphicon-refresh"></span></a>
      </div>
      <div class="panel-body">
        <div class="row">
          <div ng-repeat="item in contact.links" class="col-xs-12 col-sm-12 col-md-6">
            <a href="#/{{item.type}}/{{item.id}}" class="list-group-item">
              <span class="{{item.type | type2class}}"></span>
              <label>{{item.type}}:&nbsp;</label>
              <label>{{item.name}}</label>
              <label class="pull-right">{{item.modifiedDate | date:'medium'}}</label>
            </a>
          </div>
        </div>
        <hr>
        <div class="row">

          <div class="col-xs-8 col-sm-8 col-md-8">
            <div class="input-group">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{newLink.$typeDisplay}}
                  <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <!--<li><a ng-click="changeType('supplier','供应商');">供应商</a></li>
                  <li><a ng-click="changeType('customer','客户')">客户</a></li>-->
                  <li><a ng-click="changeType('tasks','任务')">任务</a></li>
                </ul>
              </div>
              <!-- /btn-group -->
              <select ui-select2 ng-model="newLink.link" data-placeholder="Pick a number" class="form-control">
                <option value=""></option>
                <option ng-repeat="option in linkOptions" value="{{option}}">{{option.name}}</option>
              </select>
            </div>
            <!-- /input-group -->
          </div>
          <a class="icon-btn"><span class="glyphicon glyphicon-search "></span></a>
          <a class="icon-btn" ng-click="addLink()"><span class="glyphicon glyphicon-plus-sign "></span></a>

        </div>
      </div>
    </div>
  </div>

  <!-- comments -->
  <div class="container">
    <div class="panel panel-info">
      <div class="panel-heading">
        评论
      </div>
      <div class="panel-body">
        <div class="row">
          <div ng-repeat="item in contact.links" class="col-xs-12 col-sm-12 col-md-6">
            <a href="#/{{item.type}}/{{item.id}}" class="list-group-item">
              <span class="{{item.type | type2class}}"></span>
              <label>{{item.type}}:&nbsp;</label>
              <label>{{item.name}}</label>
              <label class="pull-right">{{item.modifiedDate}}</label>
            </a>
          </div>
        </div>
        <hr>
        <div class="row">

          <div class="col-xs-8 col-sm-8 col-md-8">
            <div class="input-group">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Type <span
                  class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="">Supplier</a></li>
                  <li><a href="">Customer</a></li>
                  <li><a href="">Task</a></li>
                </ul>
              </div>
              <!-- /btn-group -->
              <input type="text" class="form-control">
            </div>
            <!-- /input-group -->
          </div>
          <a class="icon-btn"><span class="glyphicon glyphicon-search "></span></a>
          <a class="icon-btn"><span class="glyphicon glyphicon-plus-sign "></span></a>

        </div>
      </div>
    </div>
  </div>

</div>
