<div class="content task-list">
  <div ng-include="'Common/views/listTitleBar.html'"></div>

  <div ng-include="'Common/views/listToolBar.html'"></div>

  <div class="container">
    <a ng-click="isNewTaskPanelShow = true;currentEditingTask.editing  = false">+ 添加任务</a>

    <div class="create-task" ng-show="isNewTaskPanelShow">
      <div>
        <input ng-model="newTask.name" class="input edit" ng-click="isCalOpen = false"/>

        <div class="cal">
          <div class="dropdown-toggle">
            <input class="dateDisplay input" ng-click="isCalOpen = true"
                   ng-model="newTaskDueStr" placeholder="no due date"/>
            <i class="fa fa-calendar" ng-click="isCalOpen = !isCalOpen"></i>
          </div>
          <div class="timeEditor" ng-show="isCalOpen">
            <div cool-calendar day-click="dayClick" header-height="50"
                 calendar-height="calendarHeight" event-source="eventSource" selected-day="selectedDay">
            </div>
          </div>
        </div>
        <div class="actions">
          <a ng-click="isNewTaskPanelShow = false; confirmAdd(newTask)" class="button mid blue">确定</a>
          <a ng-click="isNewTaskPanelShow = false" class="button cancel">取消</a>
        </div>
        <hr/>
      </div>
    </div>
    <div class="listview">

      <div ng-repeat="task in tasks | filter:query" class="item">
        <div ng-switch="task.editing">
          <div ng-switch-when="false">
            <div class="task" ng-click="beginEditing(task)">
              <div class="task-check fa" ng-class="{'fa-check-square-o':task.status == 'closed','fa-square-o':task.status=='open'}" ng-click="changeStatus($event, task)"></div>
              <div class="task-name">{{task.name}}</div>
              <div class="task-due">{{task.due | date:'yyyy-M-d'}}</div>
              <a ng-click="openMore($event, task)" class="task-more">...</a>
            </div>
          </div>
          <div ng-switch-when="true">
            <div class="task">
              <div class="task-check fa" ng-class="{'fa-check-square-o':task.status == 'closed','fa-square-o':task.status=='open'}" ng-click="changeStatus($event, task)"></div>
              <input class="input task-name-editing" ng-model="task.name"/>
              <input type="text" class="input dateInput" datepicker-popup="yyyy-MM-dd" ng-click="open($event,task)"
                     datepicker-options="dateOptions" ng-model="task.dueDate" is-open="task.opened"/>
              <a ng-click="openMore($event,task)" class="task-more">...</a>

              <div class="actions">
                <a ng-click="confirmEdit(task)" class="button mid blue">确定</a>
                <a ng-click="cancelEdit(task);task.editing = false" class="button cancel">取消</a>
              </div>
            </div>
          </div>
          <div ng-switch-default>
            <div class="task" ng-click="beginEditing(task)">
              <div class="task-check fa" ng-class="{'fa-check-square-o':task.status == 'closed','fa-square-o':task.status=='open'}" ng-click="changeStatus($event, task)"></div>
              <div class="task-name">{{task.name}}</div>
              <div class="task-due">{{task.due | date:'yyyy-M-d'}}</div>
              <a ng-click="openMore($event, task)" class="task-more">...</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>