<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>API Test</title>


  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.3/angular.min.js"></script>

  <style>
    pre {
      width: 1000px;
      overflow-wrap: normal;
    }
  </style>
</head>

<body ng-app="">
  <div ng-controller="FetchCtrl">
    <select ng-model="method">
      <option>GET</option>
      <option>POST</option>
      <option>PUT</option>
      <option>DELETE</option>
    </select>
    <br>
    <input type="text" ng-model="url" style="width:100%;" />
    <br>
    <textarea type="text" ng-model="jsonData" style="width:100%;min-height:150px;"></textarea>
    <br>
    <button id="fetchbtn" ng-click="fetch()">fetch</button>
    <button ng-click="resetContact()">resetContact</button>
    <button ng-click="resetTag()">resetTag</button>
    <button ng-click="resetLink()">resetLink</button>
    <button ng-click="resetData()">resetData</button>
    <br>
    <pre>http status code: {{status}}</pre>
    <pre>http response data: {{data | json}}</pre>
  </div>
  <script type="text/javascript">
    function FetchCtrl($scope, $http, $templateCache) {
      $scope.method = 'GET';
      $scope.url = 'http://localhost:8000/contacts/';

      var master = {};
      master.contact = {
        "name": "",
        "avatar": "",
        "tags": null,
        "description": "",
        "createdBy": "",
        "modifiedBy": ""
      };
      master.tag = {
        "contact": null,
        "tag": "",
        "createdBy": "",
        "modifiedBy": ""
      };
      master.link = {
        "contact": null,
        "entityType": "",
        "entity": null,
        "createdBy": "",
        "modifiedBy": ""
      };
      master.data = {

        "contact": null,
        "keyPair": "",
        "valuePair": "",
        "createdBy": "",
        "modifiedBy": ""

      };
      $scope.jsonData = null;
      $scope.fetch = function() {
        $scope.code = null;
        $scope.response = null;

        $http({
          method: $scope.method,
          data: $scope.jsonData,
          url: $scope.url,
          cache: $templateCache
        }).
        success(function(data, status) {
          $scope.status = status;
          $scope.data = data;
        }).
        error(function(data, status) {
          $scope.data = data || "Request failed";
          $scope.status = status;
        });
      };

      function preparePost(url, data) {
        $scope.method = 'POST';
        $scope.url = url;
        $scope.jsonData = angular.toJson(data);
      }
      $scope.resetContact = function() {
        preparePost('http://localhost:8000/contacts/', master.contact);
      }
      $scope.resetTag = function() {
        preparePost('http://localhost:8000/contacttag/', master.tag);
      }
      $scope.resetLink = function() {
        preparePost('http://localhost:8000/contactlink/', master.link);
      }
      $scope.resetData = function() {
        preparePost('http://localhost:8000/contactdata/', master.data);
      }
      $scope.updateModel = function(method, url) {
        $scope.method = method;
        $scope.url = url;
      };
    }
  </script>
</body>

</html>