<div class="content">
<div class="titlebar">
        <div class="container">
            <div class="row">
                <div class="col-xs-8">
                    	<h2>
				<a href="{{backUrl}}">
				<span class="glyphicon glyphicon-chevron-left"></span>
				</a>
				<span class="glyphicon glyphicon-user"></span>
				<span>{{title}}</span>
				</h2>
                </div>
                <div class="col-xs-4">
                    	<h2><a id="save" class="pull-right"><span class="glyphicon glyphicon-floppy-save"></span></a></h2>
                </div>
            </div>
        </div>
    </div>


    <div class="toolbar">
	    <div class="container">
	        <div class="row">
	            <div class="col-xs-6">
	            <a id="" class="icon-btn" title="上一条记录"><span class="glyphicon glyphicon-arrow-left"></span></a>
	            <a id="" class="icon-btn" title="下一条记录"><span class="glyphicon glyphicon-arrow-right"></span></a>
	            
	            </div>
	            <div class="col-xs-6">
	            <a id="" class="icon-btn pull-right" title="打印"><span class="glyphicon glyphicon-print"></span></a>
	            </div>
	        </div>
	    </div>
    </div>
    
    <!-- basic info -->
    <div class="container">
    <div class="panel panel-info">
  <div class="panel-heading">
    个人信息
  </div>
  <div class="panel-body">

  <form class="form-horizontal" role="form">
  <div class="form-group col-xs-12 col-md-6"><img erp-img-loading ng-src="{{contact.avator}}" ></div>
  <div class="form-group col-xs-12 col-md-6">
    <label for="fullname" class="col-sm-2 control-label">姓名</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="fullname" placeholder="姓名" value="{{contact.info.fullname}}">
    </div>
  </div>
  <div class="form-group col-xs-12 col-md-6">
    <label for="phone" class="col-sm-2 control-label">电话</label></label>
    <div class="col-sm-10">
      <input type="phone" class="form-control" id="phone" placeholder="电话" value="{{contact.info.phone}}">
    </div>
  </div>
  <div class="form-group col-xs-12 col-md-6">
    <label for="cellphone" class="col-sm-2 control-label">手机</label></label>
    <div class="col-sm-10">
      <input type="phone" class="form-control" id="cellphone" placeholder="手机" value="{{contact.info.mobile}}">
    </div>
  </div>
  <div class="form-group col-xs-12 col-md-6">
    <label for="cellphone" class="col-sm-2 control-label">Email</label></label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="cellphone" placeholder="Email" value="{{contact.info.email}}">
    </div>
  </div>
  <div class="form-group col-xs-12 col-md-6">
    <label for="address" class="col-sm-2 control-label">地址</label></label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="address" placeholder="地址" value="{{contact.info.address}}">
    </div>
  </div>
  </form>

  </div>

</div>
    </div>
    
    <!-- references -->
    <div class="container">
    <div class="panel panel-info">
  <div class="panel-heading">
    链接
  </div>
  <div class="panel-body">
  <div class="row">
  <div ng-repeat="item in contact.links" class="col-xs-12 col-sm-12 col-md-6">
		  <a href="#/{{item.type}}/{{item.id}}" class="list-group-item">
		    <span class="{{item.type | type2class}}"></span>
		    <label>{{item.type}}:&nbsp;</label>
		        <label>{{item.name}}</label>
		        <label class="pull-right">{{item.lastModifiedTime}}</label>
		  </a>
		  </div>
		  </div>
				  <hr>
		<div class="row">
		  
		  <div class="col-xs-8 col-sm-8 col-md-8">
		    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Type <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="">Supplier</a></li>
          <li><a href="">Customer</a></li>
          <li><a href="">Task</a></li>
        </ul>
      </div><!-- /btn-group -->
      <input type="text" class="form-control">
    </div><!-- /input-group -->
    </div>
    <a class="icon-btn"><span class="glyphicon glyphicon-search "></span></a>
    <a class="icon-btn"><span class="glyphicon glyphicon-plus-sign "></span></a>

		  </div>
  </div>
  </div>
  </div>
  
      <!-- comments -->
    <div class="container">
    <div class="panel panel-info">
  <div class="panel-heading">
    评论
  </div>
  <div class="panel-body">
  <div class="row">
  <div ng-repeat="item in contact.links" class="col-xs-12 col-sm-12 col-md-6">
		  <a href="#/{{item.type}}/{{item.id}}" class="list-group-item">
		    <span class="{{item.type | type2class}}"></span>
		    <label>{{item.type}}:&nbsp;</label>
		        <label>{{item.name}}</label>
		        <label class="pull-right">{{item.lastModifiedTime}}</label>
		  </a>
		  </div>
		  </div>
		  <hr>
		<div class="row">
		  
		  <div class="col-xs-8 col-sm-8 col-md-8">
		    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Type <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="">Supplier</a></li>
          <li><a href="">Customer</a></li>
          <li><a href="">Task</a></li>
        </ul>
      </div><!-- /btn-group -->
      <input type="text" class="form-control">
    </div><!-- /input-group -->
    </div>
    <a class="icon-btn"><span class="glyphicon glyphicon-search "></span></a>
    <a class="icon-btn"><span class="glyphicon glyphicon-plus-sign "></span></a>

		  </div>
  </div>
  </div>
  </div>
  
    </div>
<script>
    $('#save').tooltip({
        placement: "left",
        html: true,
        title: "<h3>保存</h3>",
        container: "body"
    });
</script>