<div class="loginMask">
    <div class="container">
        <form class="form-signin" role="form">
            <h2>请登录</h2>
            <input type="text" class="form-control" placeholder="用户名" required autofocus />
            <input type="password" class="form-control" placeholder="密码" required>
            <label>
                <input type="checkbox" ng-model="rememberMe" erp-icheck> 记住我
            </label>
            <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
        </form>
    </div>
</div>